.logout-btn {
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #111827;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s ease-in-out;
}

.logout-btn:hover {
  background-color: #262d36;
}
